<h1>Edit Player</h1>

<%= form_tag "/players/#{@player["id"]}", method: :patch do %>
  <div>
    <%= label_tag :first_name %>:
    <%= text_field_tag :first_name, @player["first_name"] %>
  </div>
  <div>
    <%= label_tag :last_name %>:
    <%= text_field_tag :last_name, @player["last_name"] %>
  </div>
  <div>
    <%= label_tag :position %>:
    <%= text_field_tag :position, @player["position"] %>
  </div>
  <div>
    <%= label_tag :pro_team %>:
    <%= text_field_tag :pro_team, @player["pro_team"]%>
  </div>
  <%= submit_tag "Submit" %>

<% end %>
