<% if @player["first_name"] %>
  <h1>Player Info</h1>

  <div>
    First Name: <%= @player["first_name"] %>
  </div>
  <div>
    Last Name: <%= @player["last_name"] %>
  </div>
  <div>
    Position: <%= @player["position"] %>
  </div>
  <div>
    Team: <%= @player["pro_team"] %>
  </div>

  <%= link_to "remove", "/players/#{@player["id"]}", method: :delete %>
<% end %>