
<h1><%= @player.fullname %></h1>

<div>
  Birthday: <%= @player.friendly_birthday %>
</div>
<div>
  Team: <%= @player.pro_team %>
</div>
<div>
  Salary: <%= number_to_currency(@player.salary) %>
</div>
<div>
  Location: <%= @player.location %>
</div>
<div>
  Quote: <%= @player.quote %>
</div>


<%= link_to "Edit", "/players/#{@player.id}/edit", method: :get, class: "btn btn-primary" %>
<%= link_to "Remove", "/players/#{@player.id}", method: :delete, class: "btn btn-danger" %>
